* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        display: flex;
        background-color: whitesmoke;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgb(13, 1, 1);
        width: 100%;

        .elements {
            display: flex;
            gap: 30px;

            a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            }

            #home {
                margin-left: 80px;
            }
        }

        .icons {
            a {
                color: rgb(82, 72, 72);
            }
        }
    }

    .title {
        display: flex;
        justify-content: center;
        height: 150px;
        align-items: center;

        img {
            height: 50px;
            width: 50px;
        }

        h1 {
            font-family: cursive;
            font-size: 50px;
        }
    }

    .subnav {
        display: flex;
        justify-content: center;
        gap: 40px;
        border-bottom: 1px solid black;
        height: 40px;

        a {
            text-decoration: none;
            text-transform: capitalize;
            font-weight: bold;
            font-family: cursive;
            color: rgb(18, 4, 18);
        }
    }

    .cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;

        .card1 {
            border: 1px solid black;
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 25px;
            justify-content: center;

            img {
                height: 300px;
                width: 400px;

            }

            h1 {
                font-size: 20px;
            }

            p {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: justify;
            }

            a {
                color: palevioletred;
                font-weight: 600;
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                border-bottom: 1px solid rgb(131, 59, 71);
            }

            .date {
                font-size: 16px;
                color: grey;
            }
        }
    }
}

.footer {
    border: 1px solid #052465;
    background-color: #052465;

    h2 {
        color: white;
        font-size: 18px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 50px;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: rgb(247, 243, 244);
    }

    img {
        max-width: 85px;
        margin-left: 600px;

    }

    .links {
        display: flex;

        justify-content: center;
        gap: 10px;
        margin-right: 100px;
        margin-top: 20px;

        a {
            width: 32px;
            height: 32px;
            background-color: #cfc8c8;
            border-radius: 4px;

            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;
            color: black;
        }

        #inst {
            margin-left: 50px;
        }

    }

}